@-webkit-keyframes rotation {
  0% {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.loaderBackground {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: -60px;
  z-index: -1;
  -webkit-transition: all 0.3;
  -o-transition: all 0.3;
  transition: all 0.3;
  opacity: 0;
}
.loaderBackground .loader .loaderOutCircle {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #1F1F1F;
  border-radius: 50%;
}
.loaderBackground .loader .loaderInCircle {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.loaderBackground .loader .around {
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  margin-left: -48px;
  margin-top: -10px;
  width: 97px;
  height: 20px;
}
.loaderBackground .loader .around::after, .loaderBackground .loader .around::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #F27800;
  border-radius: 50%;
}
.loaderBackground.open {
  z-index: 5;
  opacity: 0.7;
}