.footer-container, .header-container {
  max-width: 1200px;
  padding: 20px 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  overflow-x: hidden;
}

footer, header, nav, section, main {
  display: block;
}

body, html {
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  font-family: "Comfortaa";
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

.footer-container, .header-container {
  max-width: 1200px;
  padding: 20px 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: "Comfortaa";
  font-weight: normal;
  src: url("../assets/fonts/Comfortaa.ttf");
}
.footer-container, .header-container {
  max-width: 1200px;
  padding: 20px 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  background-color: #1F1F1F;
  overflow: visible;
}

.header-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: visible;
}

.logo {
  color: #FFFFFF;
  font-family: "Comfortaa";
  overflow: hidden;
  height: 20px;
}

.hoverUnderline {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: -o-linear-gradient(currentColor, currentColor);
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
}
.hoverUnderline:hover {
  background-size: 100% 2px;
  color: #F27800;
}

.signIn,
.userName {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-family: "Comfortaa";
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 14px;
}
.signIn.hide,
.userName.hide {
  display: none;
}

.user {
  overflow: visible;
}
.user .user-container {
  overflow: visible;
  position: relative;
  text-align: right;
}
.user .user-container .userName {
  display: inline-block;
  text-align: right;
  overflow: hidden;
  padding: 0;
}
.user.hide {
  display: none;
}

.userActions {
  z-index: -1;
  position: absolute;
  right: 0;
  min-width: 221px;
  bottom: -35px;
  max-height: 30px;
  max-width: 100%;
  overflow: visible;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.userActions.open {
  z-index: 3;
  opacity: 1;
}
.userActions .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  row-gap: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  overflow: hidden;
  background-color: #1F1F1F;
}
.userActions .actions .action {
  overflow: visible;
}
.userActions .actions .action .actionLink {
  padding: 5px;
  font-family: "Comfortaa";
  color: #FFFFFF;
}

footer {
  background-color: #1F1F1F;
  overflow: visible;
}

.footer-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.creater-text {
  height: 17px;
  font-family: "Comfortaa";
  color: white;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  overflow: hidden;
}
.contacts .vk {
  overflow: hidden;
  width: 35px;
  height: 35px;
}
.contacts .vk .vk-img {
  background: url("../assets/svg/vkLogo.svg") no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
}
.contacts .inst {
  overflow: hidden;
  width: 35px;
  height: 35px;
}
.contacts .inst .inst-img {
  background: url("../assets/svg/instLogo.svg") no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
}
.contacts .git {
  overflow: hidden;
  width: 35px;
  height: 35px;
}
.contacts .git .git-img {
  background: url("../assets/svg/gitLogo.svg") no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
}

@-webkit-keyframes authOpen {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 1;
    z-index: 2;
  }
}

@keyframes authOpen {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 1;
    z-index: 2;
  }
}
@-webkit-keyframes authClose {
  0% {
    opacity: 1;
    z-index: 2;
  }
  99% {
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes authClose {
  0% {
    opacity: 1;
    z-index: 2;
  }
  99% {
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.auth {
  padding: 30px 20px;
  background: #FFFFFF;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  border: 2px solid black;
  border-radius: 10px;
  opacity: 0;
  z-index: -1;
  -webkit-animation-name: authClose;
          animation-name: authClose;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  max-width: 273px;
}
.auth .auth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  overflow: hidden;
}
.auth .auth-container .title {
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 10px;
}
.auth .auth-container .log {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.auth .auth-container .log::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../assets/svg/login.svg") no-repeat;
  background-size: cover;
}
.auth .auth-container .pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.auth .auth-container .pass::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../assets/svg/lock.svg") no-repeat;
  background-size: cover;
}
.auth .auth-container .log,
.auth .auth-container .pass {
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid black;
}
.auth .auth-container .login,
.auth .auth-container .login:focus,
.auth .auth-container .password,
.auth .auth-container .password:focus {
  font-family: "Comfortaa";
  border: none;
  padding: 5px 5px 5px 0px;
  margin-left: 30px;
  outline: none;
  width: 200px;
}
.auth .auth-container .authBtn {
  border: none;
  background-color: #1F1F1F;
  color: #FFFFFF;
  padding: 7px;
  border-radius: 5px;
  font-family: "Comfortaa";
  cursor: pointer;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F27800), to(#F27800));
  background-image: -o-linear-gradient(#F27800, #F27800);
  background-image: linear-gradient(#F27800, #F27800);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.auth .auth-container .authBtn:hover {
  background-size: 100% 30px;
}
.auth .auth-container .authBtn:hover::before {
  -webkit-transform: translate(230px, -50%);
      -ms-transform: translate(230px, -50%);
          transform: translate(230px, -50%);
}
.auth .auth-container .authBtn::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 20px;
  width: 20px;
  background: url("../assets/svg/arrowLeft.svg") no-repeat;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.auth .auth-container .regLink {
  overflow: hidden;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: -15px;
  color: #1F1F1F;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: -o-linear-gradient(currentColor, currentColor);
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  background-color: transparent;
  font-family: "Comfortaa";
  border: none;
}
.auth .auth-container .regLink:hover {
  background-size: 100% 1px;
  color: #F27800;
}
.auth.open {
  -webkit-animation-name: authOpen;
          animation-name: authOpen;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes regOpen {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 1;
    z-index: 2;
  }
}

@keyframes regOpen {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 1;
    z-index: 2;
  }
}
@-webkit-keyframes regClose {
  0% {
    opacity: 1;
    z-index: 2;
  }
  99% {
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes regClose {
  0% {
    opacity: 1;
    z-index: 2;
  }
  99% {
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.reg {
  padding: 30px 20px;
  max-height: 100%;
  background: #FFFFFF;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 10px;
  opacity: 0;
  z-index: -1;
  -webkit-animation-name: regClose;
          animation-name: regClose;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  overflow: auto;
  max-width: 300px;
}
.reg .reg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  overflow: visible;
}
.reg .reg-container .title {
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 10px;
}
.reg .reg-container .FIO::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../assets/svg/user.svg") no-repeat;
  background-size: cover;
}
.reg .reg-container .mail::before {
  content: "@";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-size: cover;
  padding-left: 5px;
}
.reg .reg-container .log::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../assets/svg/login.svg") no-repeat;
  background-size: cover;
}
.reg .reg-container .phone::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../assets/svg/phone.svg") no-repeat;
  background-size: cover;
}
.reg .reg-container .pass::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: url("../assets/svg/lock.svg") no-repeat;
  background-size: cover;
}
.reg .reg-container .FIO,
.reg .reg-container .log,
.reg .reg-container .mail,
.reg .reg-container .phone,
.reg .reg-container .pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid black;
}
.reg .reg-container .fio,
.reg .reg-container .fio:focus,
.reg .reg-container .email,
.reg .reg-container .email:focus,
.reg .reg-container .login,
.reg .reg-container .login:focus,
.reg .reg-container .telephone,
.reg .reg-container .telephone:focus,
.reg .reg-container .password,
.reg .reg-container .password:focus {
  font-family: "Comfortaa";
  border: none;
  padding: 5px 5px 5px 0px;
  margin-left: 30px;
  outline: none;
  width: 200px;
}
.reg .reg-container .regBtn {
  border: none;
  background-color: #1F1F1F;
  color: #FFFFFF;
  padding: 7px;
  border-radius: 5px;
  font-family: "Comfortaa";
  cursor: pointer;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F27800), to(#F27800));
  background-image: -o-linear-gradient(#F27800, #F27800);
  background-image: linear-gradient(#F27800, #F27800);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.reg .reg-container .regBtn:hover {
  background-size: 100% 30px;
}
.reg .reg-container .regBtn:hover::before {
  -webkit-transform: translate(230px, -50%);
      -ms-transform: translate(230px, -50%);
          transform: translate(230px, -50%);
}
.reg .reg-container .regBtn::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 20px;
  width: 20px;
  background: url("../assets/svg/arrowLeft.svg") no-repeat;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.reg .reg-container .city,
.reg .reg-container .town {
  overflow: visible;
}
.reg .reg-container .city .text,
.reg .reg-container .town .text {
  overflow: hidden;
  font-size: small;
}
.reg.open {
  -webkit-animation-name: regOpen;
          animation-name: regOpen;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes backOpen {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 0.5;
    z-index: 2;
  }
}

@keyframes backOpen {
  0% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 0.5;
    z-index: 2;
  }
}
@-webkit-keyframes backClose {
  0% {
    opacity: 0.5;
    z-index: 2;
  }
  99% {
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes backClose {
  0% {
    opacity: 0.5;
    z-index: 2;
  }
  99% {
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.blackBackground {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: -60px;
  z-index: -1;
  -webkit-animation-name: backClose;
          animation-name: backClose;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.blackBackground.open {
  -webkit-animation-name: backOpen;
          animation-name: backOpen;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  overflow: hidden;
}

.select-wrapper {
  min-width: 100px;
  overflow: visible;
  position: relative;
}

.select {
  position: relative;
  padding: 5px 20px 5px 5px;
  border: 2px solid black;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}
.select::after {
  display: block;
  position: absolute;
  top: 14px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 3px;
  content: "";
  background: url("../assets/svg/arrowdown.svg");
  width: 15px;
  height: 15px;
}
.select.open {
  max-height: 100px;
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.select-menu {
  opacity: 0;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 2px solid black;
  border-radius: 7px;
  position: absolute;
  background-color: white;
  z-index: 1;
}
.select-menu.open {
  opacity: 1;
  max-height: 70px;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.select-menu.open.cities, .select-menu.open.towns {
  max-height: 170px;
  overflow: auto;
}

.select-item {
  cursor: pointer;
  overflow: hidden;
  padding: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.select-item:hover {
  background-color: #F27800;
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}

.invalid {
  border-color: red !important;
  color: red !important;
}

.invalidText {
  overflow: hidden;
  color: red !important;
  font-size: 13px;
  margin: 5px 0px;
  max-height: 0px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.invalidText.open {
  min-height: 14px;
  max-height: 100px;
}

@media (max-width: 950px) {
  .swiper {
    height: 250px;
  }
  .topInfo {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .newItem-container .newItemForm {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .my .item .item-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .my .item .buttons {
    position: absolute;
    right: 0;
    bottom: 10px;
  }
}
@media (max-width: 770px) {
  .filters-container {
    row-gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filters-container .price-wrapper {
    width: 100%;
  }
  .item {
    min-width: 33.333%;
    max-width: 33.333%;
    padding: 10px 10px;
  }
  .asseptBtn {
    margin-left: auto;
  }
}
@media (max-width: 591px) {
  .item {
    min-width: 50%;
    max-width: 50%;
    padding: 10px 10px;
  }
}
@media (max-width: 420px) {
  .item {
    min-width: 100%;
    max-width: 100%;
    padding: 10px 10px;
  }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }
}