.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
}
.buttons .item-remove {
  font-family: "Comfortaa";
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid black;
  border-radius: 7px;
  padding: 5px 5px;
  font-weight: bold;
  color: #1F1F1F;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f23000), to(#f23000));
  background-image: -o-linear-gradient(#f23000, #f23000);
  background-image: linear-gradient(#f23000, #f23000);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.buttons .item-remove:hover {
  background-size: 100% 30px;
  color: #FFFFFF;
}
.buttons .item-change {
  font-family: "Comfortaa";
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid black;
  border-radius: 7px;
  padding: 5px 5px;
  font-weight: bold;
  color: #1F1F1F;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F27800), to(#F27800));
  background-image: -o-linear-gradient(#F27800, #F27800);
  background-image: linear-gradient(#F27800, #F27800);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.buttons .item-change:hover {
  background-size: 100% 30px;
  color: #FFFFFF;
}